/** Proxima Nova **/

@font-face {
  font-family: 'Proxima Nova';
  src: url('/static/fonts/proxima-nova/proxima_nova.eot');
  src: url('/static/fonts/proxima-nova/proxima_nova.eot?#iefix') format('embedded-opentype'), url('/static/fonts/proxima-nova/proxima_nova.woff2') format('woff2'), url('/static/fonts/proxima-nova/proxima_nova.woff') format('woff'), url('/static/fonts/proxima-nova/proxima_nova.ttf') format('truetype'), url('/static/fonts/proxima-nova/proxima_nova.svg#proxima_nova_altregular') format('svg');
  font-weight: normal;
  font-style: normal;
}